nav .breadcrumb {
  margin-bottom: 0;
}

.card {
  background-color: var(--bs-tertiary-bg) !important;
}

a.card {
  text-decoration: none !important;
}

.image-container {
  width: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container img {
  /* Leaves some padding inside the square */
  max-width: 92%;
  max-height: 92%;
  /* Keep aspect ratio without distortion */
  object-fit: contain;
}

.folder-icon {
  width: 60%;
  height: auto;
  color: var(--bs-primary);
}

.card-body {
  text-align: center;
  padding: 0 .5rem .5rem .5rem !important;
}

.card-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

div.card .card-hover-menu {
  position: absolute;
  top: .4rem;
  right: .4rem;
  display: flex;
  gap: 5px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

div.card:hover .card-hover-menu {
  opacity: 1;
}
